<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      NOTES
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-input placeholder="Judul" [(ngModel)]="Judul"></ion-input>
  <ion-input placeholder="Isi" [(ngModel)]="Isi"></ion-input>
  <ion-datetime value="2019-10-01" placeholder="Tanggal" [(ngModel)]="Tgl"></ion-datetime>
  <ion-input placeholder="Nilai" [(ngModel)]="Nilai"></ion-input>

  <ion-fab vertical="bottom" horizontal="center" slot ="fixed">
    <ion-fab-button (click)="tambahfoto()">
      <ion-icon name="image-outline"></ion-icon>
    </ion-fab-button>
    <br>
    <ion-button (click)="upload()">
      UPLOAD
     </ion-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let a of FotoService.datafoto; let i = index">
        <ion-img [src]="a.webviewpath"></ion-img>
      </ion-col>
      </ion-row>
  </ion-grid>

</ion-content>
