<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>DETAIL NOTES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let data of isiData | async; let i = index">
      <ion-label>
      <h2>{{i+1}}. Judul : {{data.judul}}</h2><br>
      <p>Isi notes : {{data.isi}}</p><br>
      <p>Tanggal : {{data.tgl}}</p><br>
      <p>Nilai : {{data.nilai}}</p><br>
      <ion-row *ngFor="let ifoto of urlimagestorage; let i = index">
        <ion-img [src]="ifoto"></ion-img> 
        <ion-col>
        </ion-col>
      </ion-row>
    </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
